.navbar_component {
    width:  100%;
    background-color: #1b1b1b;
    display: inline-flex;
}
.nav_bar_searcher {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 75%;
}
.items_list {
    width: 100%;
    height: 60px;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
}

.items_search {
    width: 50%;
}
.search_input {
    padding: 6px;
    width: 50%;
    margin: 10px;
    border: 2px solid gray;
    border-radius: 32px;
    outline: none;   
    text-indent: 5px;
}
.search_button {
    padding: 8px;
    width: 15%;
    outline: none;
    background-color: #275be8;
    border: 2px solid #275be8;
    border-radius: 32px;
    color: white;
    font-weight: bold;
}