.item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    background-color: #2b2b2b;
    margin: 5px;
    border-radius: 6px;
    list-style: none;
}
.item a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.items_list {
    width: 100%;
    height: 60px;
    display: inline-flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
    padding: 0;
}
